# Numpy and Array
### Useful Python Functions: map() and lambda function
#### 1. map() function
map(*function*, *iterables*)

In [3]:
a = ['1', '2', '3']

b = map(int, a) # we used the built-in int function
b # it returns the map object, but not the new list

In [4]:
list(b) # list function returns the list

[1, 2, 3]

In [5]:
# we can use own function as an argument of map function
b = [1,2,3]

def square(x):
    return x**2

c = map(square, b)
c

In [6]:
list(c)

[1, 4, 9]

#### 2. lambda function
lambda *arguments* : *expression*

In [7]:
my_function = lambda a : a + 10
my_function(5)

15

In [8]:
list_j = [2,3,4]
list_k = map(my_function, list_j)
list(list_k)

[12, 13, 14]

In [9]:
list_j = [2,3,4]
list_k = map(lambda a : a + 10, list_j)
list(list_k)

[12, 13, 14]

In [10]:
my_function = lambda a, b : a * b
my_function(5, 6)

30

In [13]:
list_j = [2,3,4]
list_k = [5,4,3]
list_l = map(lambda a, b : a * b, list_j, list_k)
list(list_l)

[10, 12, 12]

### <span style="color:yellow">Example I. You want to generate list_b from list_a.</span>  
### <span style="color:yellow">list_a = [1, 2, 3], list_b = [2, 4, 6]</span>

#### Method 1. Create empty list called list_b. Then using for loop, iterate each element in list_a, for each element in list_a, multiply element by 2, and append to the newly created list, list_b.

In [14]:
list_a = [1,2,3]

list_b = [] # create an empty list called list_b
for x in list_a:  # using for loop, iterate each element in list_a
    list_b.append(x*2)  # multiply element by 2, and append to the newly created list

list_b

[2, 4, 6]

#### Method 2. Generate own function called double and apply [map() function](https://www.w3schools.com/python/ref_func_map.asp) using double function as the first argument of map() function.

In [15]:
list_a = [1,2,3]
def double(x):
    return 2*x

list_b = map(double, list_a)
list_b

In [16]:
list(list_b)

[2, 4, 6]

#### Method 3. Apply map() function using [lambda function](https://www.w3schools.com/python/python_lambda.asp) as the first argument of map() function.

In [17]:
list_a = [1,2,3]
list_b = map(lambda a: a*2, list_a)
list_b

In [18]:
list(list_b)

[2, 4, 6]

#### Method 4. Generate dataframe using dictionary. Then apply pandas dataframe method.

In [19]:
data = {'list_a':[1,2,3]}

import pandas as pd

df = pd.DataFrame(data)
df

   list_a
0       1
1       2
2       3

In [20]:
df['list_b'] = df['list_a']*2
df['list_b']

0    2
1    4
2    6
Name: list_b, dtype: int64

In [21]:
list_b = df['list_b'].tolist()
list_b

[2, 4, 6]

#### Method 5. Use Numpy array operation.

In [22]:
import numpy as np

list_a = [1,2,3]
array_a = np.array(list_a)
array_b = array_a*2
array_b

array([2, 4, 6])

In [23]:
list_b = list(array_b)
list_b

[2, 4, 6]

### <span style="color:yellow">Example II. You want to generate list_c from list_a and list_b.</span>  
### <span style="color:yellow">list_a = [1, 2, 3], list_b = [2, 4, 6], list_c = [2, 8, 18]</span>

#### Method 1. Create empty list called list_c. Then using for loop, iterate each element in list_a and list_b, for each element in list_a and list_b, multiply, and append to the newly created list.

In [27]:
list_a = [1,2,3]
list_b = [2,4,6]

list_c = [] # create an empty list called list_c
for i in range(len(list_a)):  # using for loop, iterate each element in list_a and list_b
    list_c.append(list_a[i] *list_b[i])

list_c

[2, 8, 18]

#### Method 2. Generate own function called double and apply [map() function](https://www.w3schools.com/python/ref_func_map.asp) using double function as the first argument of map() function.

In [24]:
list_a = [1,2,3]
list_b = [2,4,6]

def multiply(x,y):
    return x * y

list_c = map(multiply, list_a, list_b)
list_c

In [25]:
list(list_c)

[2, 8, 18]

#### Method 3. Apply map() function using [lambda function](https://www.w3schools.com/python/python_lambda.asp) as the first argument of map() function.

In [28]:
list_a = [1,2,3]
list_b = [2,4,6]
list_c = map(lambda x, y: x * y, list_a, list_b)
list_c

In [29]:
list(list_c)

[2, 8, 18]

#### Method 4. Generate dataframe using dictionary. Then apply pandas dataframe method.

In [32]:
data = {'list_a':[1,2,3],
        'list_b':[2,4,6]
        }

import pandas as pd

df = pd.DataFrame(data)
df

   list_a  list_b
0       1       2
1       2       4
2       3       6

In [33]:
df['list_c'] = df['list_a'] * df['list_b']
df['list_c']

0     2
1     8
2    18
Name: list_c, dtype: int64

In [34]:
list_c = df['list_c'].tolist()
list_c

[2, 8, 18]

#### Method 5. Use Numpy array operation.

In [35]:
import numpy as np

list_a = [1,2,3]
list_b = [2,4,6]
array_a = np.array(list_a)
array_b = np.array(list_b)
array_c = array_a * array_b
array_c

array([ 2,  8, 18])

In [ ]:
list_c = a(_____)
list_c